<section class="pb-3">
	<div class="container">
		<div class="row">
		<!-- <div class="col-xs-12 col-sm-6 col-md-4">
			<div class="card text-center mt-4">
					<div class="card-header">
							<h2 class="card-title">{{ coin.id | uppercase }}</h2>
							<h6 class="card-title mb-0 pb-1">{{fiat.toUpperCase()}} {{
									coin['price_'+fiat] }}</h6>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">24 hours: 
							<span [ngStyle]="{'color': coin.percent_change_24h.charAt(0) === '-' ? 'red' : 'green'}"> {{ coin.percent_change_24h }}</span>
						</li>
						<li class="list-group-item">7 days: 
							<span [ngStyle]="{'color': coin.percent_change_7d.charAt(0) === '-' ? 'red' : 'green'}"> {{	coin.percent_change_7d }}</span>
						</li>
					</ul>
			</div>
		</div> -->

			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<div class="card">
					<div class="card-body text-center">
						<h4 class="card-title">{{ coin.id | uppercase }}</h4>
						<h6 class="card-title mb-0 pb-1">{{fiat.toUpperCase()}} {{ coin['price_'+fiat] }}</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">24 hours: 
								<span [ngStyle]="{'color': coin.percent_change_24h.charAt(0) === '-' ? 'red' : 'green'}"> {{ coin.percent_change_24h }}</span>
							</li>
							<li class="list-group-item">7 days: 
								<span [ngStyle]="{'color': coin.percent_change_7d.charAt(0) === '-' ? 'red' : 'green'}"> {{	coin.percent_change_7d }}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>